/* COMMENT LIST */
div.ezcom-view-list{
    background-color:#fcfcfc;
}

div.ezcom-comment-index{
    float:right
}

div.ezcom-comment-title{
    float:left;
}

div.ezcom-comment-body{
    clear:both
}

div.ezcom-comment-body p, div.ezcom-comment-title span, div.ezcom-comment-index span{
    color:#000000;
    overflow:hidden;
    padding:3px
}

div.ezcom-comment-author{
    font-style:italic;
    color:#666666;
    text-align:right;
    padding:2px;
}

div.ezcom-comment-tool{
    clear:both;
    text-align:right;
    padding:2px;
}
/* ----COMMENT LIST----- */

/* ----FORM FIELD---- */
.ezcom-field-website input{
    width: 150px
}

.ezcom-field-title input{
    width:200px
}

.ezcom-field-email input{
    width:150px
}

span.ezcom-field-emailmessage{
    font-style:italic
}

.ezcom-field-name input{
    width:100px
}
.ezcom-field-content textarea{
    width:60%;
    height:100px
}
.ezcom-field-mandatory{
    color:#ff0000;
    font-style:italic
}
/*----FORM FIELD----*/


/* ----COMMENT LIST - CONTENT VIEW----- */
div.attribute-comment{
    padding-top:20px;
    font-size:0.85em
}

div.ezcom-view-all p{
    padding:2px;
    text-align:right;
    font-style:italic
}

div.attribute-comment div.ezcom-view-comment{
    padding-top:10px;
    border-width:0px 0px 1px 0px;
    border-color:#e3e4e7 #e3e4e7 #cccccc #e3e4e7;
    border-style:solid solid dotted solid;
}
/* ----COMMENT LIST - CONTENT VIEW----- */

/* ----COMMENT LIST - FULL VIEW----- */
div.ezcom-full{
}

div.ezcom-full div.ezcom-view-comment{
    border-width:1px 1px 1px 1px;
    border-color:#cccccc #cccccc #cccccc #cccccc;
    border-style:solid solid solid solid;
    margin-bottom:20px;
}


div.ezcom-full div.ezcom-comment-index,div.ezcom-full div.ezcom-comment-title{
    background-color:#F0F0F0;
    height:23px;
}

div.ezcom-full div.ezcom-comment-index{
    text-align:right;
    width:30%;
}

div.ezcom-full div.ezcom-comment-title{
    width:70%;
}
/* ----COMMENT LIST - FULL VIEW----- */

/* ----COMMENT FUNCTION----- */
div.ezcom-function-title{
    background-image:url('../images/bg_function_title.jpg');
    border-color:#999999 #999999 #cccccc #999999;
    border-width:0px 0px 1px 0px;
    border-style:solid solid dotted solid;
}

div.ezcom-function-title label{
    font-weight:bold;
    color:#000000;
    padding:3px
}
/* ----COMMENT FUNCTION----- */

/* ----ADDING COMMENT------- */
div.ezcom-add,div.ezcom-edit{
    background-color:#ffffff;
    border-width:1px 1px 1px 1px;
    border-color:#e3e4e7 #e3e4e7 #e3e4e7 #e3e4e7;
    border-style:solid solid solid solid;
}

div.ezcom-field{
    padding:0.3em;
}

div.ezcom-field label{
    width:4em;
    display:inline-block
}
/* ----ADDING COMMENT------- */

/*---- PAGING ----*/
div.ezcom-page{
    padding:1px;
    text-align:right;
}

div.ezcom-page a{
    padding:2px;
    background-color:#ffffff;
    border-width:1px 1px 1px 1px;
    border-color:#cccccc #cccccc #cccccc #cccccc;
    border-style:solid solid solid solid
}

div.ezcom-page a:hover{
    background-color:#eeeeee;
}
/*---- PAGING ----*/

/*---- ERROR MESSGE ----*/
div.ezcom-delete .message-confirmation, div.ezcom-add-result .message-error{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    width:50%
}
/*---- ERROR MESSGE ----*/

.ezcomments-comment-view-disabled{
    text-align:center;
    color:#ff0000;
    font-style:italic;
}

.ezcomments-comment-extension{
    background-color:#cccccc;
}