.ezcomments-comment-view-page{
    height:25px;
    text-align:right;
    font-size:0.85em;
}

.ezcomments-comment-view-page a{
    padding:2px;
    border-width:1px 1px 1px 1px;
    background-image:url('../images/bg_page.css');
    border-color:#cccccc #cccccc #cccccc #cccccc;
    border-style:solid solid solid solid
}

.ezcomments-comment-view-page a:hover{
    height:25px;
    background-color:#eeeeee;
    border-width:1px 1px 1px 1px;
    border-color:#cccccc #cccccc #cccccc #cccccc;
    border-style:solid solid solid solid
}

.ezcomments-comment-view-comment{
    font-size:0.85em
}

.ezcomments-comment-view-commenttitle{
    height:22px;
    vertical-align:middle;
    padding:2px
}

.ezcomments-comment-view-commentbody{
    color:#000000;
    overflow:hidden;
    padding:3px
}

.ezcomments-comment-view-commentbottom{
    font-style:italic;
    text-align:right;
    color:#666666;
    padding:2px;
}

.ezcomments-comment-view-commenttool{
    text-align:right;
    padding:2px;
    border-width:0px 0px 1px 0px;
    border-color:#e3e4e7 #e3e4e7 #cccccc #e3e4e7;
    border-style:solid solid dotted solid;
}

.ezcomments-comment-view-addcomment{
    border-width:1px 1px 1px 1px;
    border-color:#e3e4e7 #e3e4e7 #e3e4e7 #e3e4e7;
    border-style:solid solid solid solid;
    width:100%;
    font-size:0.85em;
}


.ezcomments-comment-view-addcomment table{
    width:100%;
     border-collapse:collapse
}

.ezcomments-comment-view-addcomment td{
    padding:3px;
}

.ezcomments-comment-view-addcomment-left{
    width:80px
}
.ezcomments-comment-view-addcomment-input{
    
}
.ezcomments-comment-view-addcomment-textarea{
    width:60%;
    height:100px
}
.ezcomments-comment-view-addcomment-title{
    width:200px
}

.ezcomments-comment-view-addcomment-email{
    width:150px
}

.ezcomments-comment-view-addcomment-name{
    width:100px
}

.ezcomments-comment-view-moduletitle{
    color:#000000;
    background-image:url('../images/bg_module_title.jpg');
    border-color:#999999 #999999 #cccccc #999999;
    border-width:0px 0px 1px 0px;
    border-style:solid solid dotted solid;
    height:25px
}
.ezcomments-comment-view-addcomment-message{
    text-align:center;
    font-style:italic;
    color:#ff0000
}

.ezcomments-comment-view-disabled{
    text-align:center;
    color:#ff0000;
    font-style:italic
}

.ezcomments-comment-extension{
    position:absolute;
    background-color:#eeeeee;
    width:400px;
    height:300px;
}

.ezcomments-comment-extension-edit{
    border-color:#999999 #999999 #cccccc #999999;
    border-width:1px 1px 1px 1px;
    border-style:solid solid solid solid;
    font-size:0.85em
}
.ezcomments-comment-extension-edit table{
    width:100%;
    height:100%;
    padding:3px;
}

.ezcomments-comment-extension-edit td{
    padding:2px;
}

.ezcomments-comment-view-edit-left{
    width:80px
}

.ezcomments-comment-extension-edit-title{
    width: 120px
}

.ezcomments-comment-extension-edit-website{
    width: 100px
}

.ezcomments-comment-extension-edit-content{
    width: 90%;
    height: 150px
}
