.ezcomments-comment-view-page{
    height:25px;
    text-align:right;
    font-size:0.85em;
}

.ezcomments-comment-view-page a{
    padding:2px;
    border-width:1px 1px 1px 1px;
    background-image:url('../images/bg_page.css');
    border-color:#cccccc #cccccc #cccccc #cccccc;
    border-style:solid solid solid solid
}

.ezcomments-comment-view-page a:hover{
    height:25px;
    background-color:#eeeeee;
    border-width:1px 1px 1px 1px;
    border-color:#cccccc #cccccc #cccccc #cccccc;
    border-style:solid solid solid solid
}

/* FORM FIELD */
.ezcom-field-website input{
    width: 100px
}

.ezcom-field-title input{
    width:200px
}

.ezcom-field-email input{
    width:150px
}

span.ezcom-field-emailmessage{
    font-style:italic
}

.ezcom-field-name input{
    width:100px
}
.ezcom-field-content textarea{
    width:60%;
    height:100px
}
.ezcom-field-mandatory{
    color:#ff0000;
    font-style:italic
}
/* FORM FIELD */

/* COMMENT LIST */
div.ezcom-view-list{
    background-color:#fcfcfc;
}

div.attribute-comment{
    padding-top:20px;
    font-size:0.85em
}

div.ezcom-view-all p{
    padding:2px;
    text-align:right;
    font-style:italic
}

div.ezcom-view-comment{
    padding-top:10px;
    border-width:0px 0px 1px 0px;
    border-color:#e3e4e7 #e3e4e7 #cccccc #e3e4e7;
    border-style:solid solid dotted solid;
}

div.ezcom-comment-index{
    float:right
}

div.ezcom-comment-title{
    float:left;
}

div.ezcom-comment-body{
    clear:both
}

div.ezcom-comment-body p, div.ezcom-comment-title span{
    color:#000000;
    overflow:hidden;
    padding:3px
}

div.ezcom-comment-author{
    float:right;
    font-style:italic;
    color:#666666;
    padding:2px;
}

div.ezcom-comment-tool{
    clear:both;
    text-align:right;
    padding:2px;
}
/* COMMENT LIST */

div.ezcom-function-title{
    background-image:url('../images/bg_function_title.jpg');
    border-color:#999999 #999999 #cccccc #999999;
    border-width:0px 0px 1px 0px;
    border-style:solid solid dotted solid;
}

div.ezcom-function-title label{
    font-weight:bold;
    color:#000000;
    padding:3px
}

/* ADDING COMMENT */
div.ezcom-add{
    border-width:1px 1px 1px 1px;
    border-color:#e3e4e7 #e3e4e7 #e3e4e7 #e3e4e7;
    border-style:solid solid solid solid;
}

div.ezcom-add div.ezcom-field{
    padding:0.3em;
}

div.ezcom-add div.ezcom-field label{
    width:4em;
    display:inline-block
}
/* ADDING COMMENT */

.ezcomments-comment-view-addcomment-message{
    text-align:center;
    font-style:italic;
    color:#ff0000
}

.ezcomments-comment-view-disabled{
    text-align:center;
    color:#ff0000;
    font-style:italic
}

.ezcomments-comment-extension{
    position:absolute;
    background-color:#eeeeee;
    width:400px;
    height:300px;
}

.ezcomments-comment-extension-edit{
    border-color:#999999 #999999 #cccccc #999999;
    border-width:1px 1px 1px 1px;
    border-style:solid solid solid solid;
    font-size:0.85em
}
.ezcomments-comment-extension-edit table{
    width:100%;
    height:100%;
    padding:3px;
}

.ezcomments-comment-extension-edit td{
    padding:2px;
}

.ezcomments-comment-view-edit-left{
    width:80px
}

.ezcomments-comment-extension-edit-title{
    width: 120px
}

.ezcomments-comment-extension-edit-content{
    width: 90%;
    height: 150px
}

