.ezcomments-comments{
    background-color:#ffffff;
}

.ezcomments-comments-filter{
    text-align:right
}

.ezcomments-textinput{
    border-width:1px 1px 1px 1px;
    border-color:#cccccc #cccccc #cccccc #cccccc;
    border-style:solid solid solid solid;
    width:100px;
    height:15px
}

.ezcomments-comment-list{
    width:100%;
    border-collapse:collapse
}

.ezcomments-comment-list td,th{
   padding:6px;
   border-width:0px 0px 1px 0px;
   border-color:#dddddd #dddddd #cccccc #dddddd;
   border-style:solid solid dotted solid
}

.ezcomments-comment-text{
    color:#000000
}

.ezcomments-comment-list-header{
    background-image:url('../images/bg_notification_head.png');
    height:25px;
    text-align:center
}

.ezcomments-comment-list-notification{
    width: 80px;
    border-width:0px 1px 1px 1px;
    border-color:#cccccc #cccccc #cccccc #cccccc;
    border-style:solid solid solid solid
}

.ezcomments-comment-list-row-odd{
}

.ezcomments-comment-list-row-even{
    background-color:#fdfdfd;
}
.ezcomments-comment-list-objectname{
    font-style:italic;
    text-align:right
}

.ezcomment-comment-page{
    text-align:right;
    padding:2px
}

.ezcomments-comment-page-button a{
    padding: 2px;
    border-top:1px #cccccc solid;
    border-left:1px #cccccc solid;
    border-right:1px #cccccc solid;
    border-bottom:1px #cccccc solid;
}

.ezcomments-comment-page-button a:hover{
    background-color:#cccccc;
    border-color:#333333 #333333 #333333 #333333
}

.ezcomments-comment-tool{
    border-bottom:1px #999999 solid;
    height:25px
}

.ezcomments-comment-message{
    width:300px;
    padding:3px;
    text-align:center;
    vertical-align:middle;
    background-color:#f3f3f3;
    font-style:italic;   
    border-top:1px #cccccc solid;
    border-left:1px #cccccc solid;
    border-right:1px #cccccc solid;
    border-bottom:1px #cccccc solid;
    
}