.ezcomments-comment-view-page{
    height:28px;
    background-color:#ffffff;
    text-align:right;
    border-width:1px 1px 1px 1px;
    border-color:#e3e4e7 #e3e4e7 #e3e4e7 #e3e4e7;
    border-style:solid solid solid solid;
}

.ezcomments-comment-view-page a{
    padding:2px;
    border-width:1px 1px 1px 1px;
    background-image:url('../images/bg_page.css');
    border-color:#cccccc #cccccc #cccccc #cccccc;
    border-style:solid solid solid solid
}

.ezcomments-comment-view-page a:hover{
    height:25px;
    background-color:#eeeeee;
    border-width:1px 1px 1px 1px;
    border-color:#cccccc #cccccc #cccccc #cccccc;
    border-style:solid solid solid solid
}

.ezcomments-comment-view-comment{
    background-color:#fcfcfc;
    border-width:1px 1px 1px 1px;
    border-color:#e3e4e7 #e3e4e7 #e3e4e7 #e3e4e7;
    border-style:solid solid solid solid
}
.ezcomments-comment-view-nocomment{
    text-align:center;
    font-style:italic;
    height:30px;
    background-color:#ffffff
}

.ezcomments-comment-view-nocomment p{
    text-valign:middle
}

.ezcomments-comment-view-commenttitle{
    height:22px;
    vertical-align:middle;
    background-image:url('../images/bg_comment_title.jpg');
    border-width:0px 0px 1px 0px;
    border-color:#e3e4e7 #e3e4e7 #cccccc #e3e4e7;
    border-style:solid solid dotted solid;
    padding:2px
}

.ezcomments-comment-view-commentbody{
    font-family: Times;
    color:#000000;
    font-size:14px;
    padding:3px
}

.ezcomments-comment-view-commentbottom{
    font-style:italic;
    text-align:right;
    color:#666666;
}

.ezcomments-comment-view-addcomment{
    border-width:1px 1px 1px 1px;
    border-color:#e3e4e7 #e3e4e7 #e3e4e7 #e3e4e7;
    border-style:solid solid solid solid;
    width:100%;
}


.ezcomments-comment-view-addcomment table{
    width:100%;
     border-collapse:collapse
}

.ezcomments-comment-view-addcomment td{
    padding:3px;
}

.ezcomments-comment-view-addcomment-left{
    width:80px
}
.ezcomments-comment-view-addcomment-input{
    
}
.ezcomments-comment-view-addcomment-textarea{
    width:80%;
    height:100px
}
.ezcomments-comment-view-addcomment-title{
    width:300px
}

.ezcomments-comment-view-addcomment-email{
    width:200px
}

.ezcomments-comment-view-moduletitle{
    color:#ffffff;
    background-color:#4192BD;
    border-color:#999999 #999999 #ffffff #999999;
    border-width:0px 0px 1px 0px;
    border-style:solid solid solid solid;
    height:25px
}
.ezcomments-comment-view-addcomment-message{
    text-align:center;
    font-style:italic;
    color:#ff0000
}

.ezcomments-comment-view-no-permission p{
    background-color:#ffffff;
    text-align:center;
    font-style:italic;
    height:50px
}
.ezcomments-comment-view-disabled{
    text-align:center;
    color:#ff0000;
    font-style:italic;
}
.ezcomments-comment-view-addcomment-mandatorymessage{
    font-style:italic;
}

.ezcomments-comment-view-commenttool{
    text-align:right;
}

.ezcomments-comment-extension{
    background-color:#cccccc;
}